{% extends "base.html.twig" %}

{% block title %} INDEX PAGE {% endblock %}

{% block body %} 
<h1>
    THIS IS THE INDEX PAGE
</h1> 

{% if movies %}
    <ol>
        {% for movie in movies %}
            <li>{{movie}}</li>  
        {% endfor %}
    </ol>
{% else %}
    <h4>NO MOVIES</h4>
{% endif %}

FILE NAME - {{ _self }}
CHARSET  - {{ _charset }}
globalVariabel(defined in twig.yaml) -- {{ author }}

{% block image %}
    <img src="{{asset("build/images/img.8c2c0eac.jpg")}}"/>
{% endblock %}

{% endblock %}

